<h1> login</h1>
<form method="POST" action="/login">
    <input placeholder="username" type="text" name="username">
    <input placeholder="password" type="text" name="password">
    <input type="submit">

</form>