<%- include('partials/header'); -%>
    <div class="container">
        <div class="jumbotron">
            <div class="container">
                <p>
                    <h1>Welcome to the varoius camps</h1>
                </p>
                <p>
                    <h4>We have the camps of the Shinobi World</h4>
                </p>
                <a href="/camp/new" class="btn btn-primary btn-lg">Add New Camp</a>
            </div>
        </div>
        <br>
        <div class="row">
            <% for(var camp of camps){ %>
                <div class="col-md-3 col-sm-6 ">
                    <div>
                        <img src="<%=camp.image%>" class=" img-thumbnail ">
                    </div>
                    <div>
                        <figcaption class="figure-caption text-dark">
                            <%=camp.title%>
                        </figcaption>
                    </div>
                </div>
                <% } %>
        </div>
    </div>
    <%-include('partials/footer'); -%>