<!DOCTYPE html>

<body>
    <h1>
        Naruto chart
    </h1>

    <table border="1">
        <%
        <% for(var i=0 ; i<num ;i++){ %>
            <tr>
                <td>
                    <img src=< %-data[i].photo %> >
                </td>
                <td>
                    <%=(data[i].name).toUpperCase() %>
                </td>
                <td>
                    <%=data[i].power %>
                </td>
                <td>
                    <%=data[i].special %>
                </td>
            </tr>
            <% } %>
    </table>
</body>

</html>